server:
  port: port_number
spring:
  application:
    name: GATEWAY
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: IDEAS
          uri: ideas_service_uri
          predicates:
            - Path=/ideas/**
          filters:
            - AuthFilter
            - RewritePath=/ideas/(?<segment>.*), /$\{segment}
        - id: USERS
          uri: users_service_uri
          predicates:
            - Path=/users/**
          filters:
            - AuthFilter
            - RewritePath=/users/(?<segment>.*), /$\{segment}
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: jwt_issuer_uri
eureka:
  client:
    service-url:
      defaultZone: eureka-default-zone-url