server:
  port: port_number
spring:
  application:
    name: IDEAS
  datasource:
    url: db_url
    username: db_username
    password: db_password
  liquibase:
    change-log: classpath:db/liquibase-changelog.xml
  kafka:
    consumer:
      group-id: app_group_id
    bootstrap-servers: kafka_bootstrap_server_uri
eureka:
  client:
    service-url:
      defaultZone: eureka-default-zone-url
#noinspection undefined
files-service-url: lb://FILES